body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.sidebar.dark {
    width: 240px;
    height: 100vh;
    background: #131313;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar.dark h3 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar.dark ul {
    list-style: none;
    padding: 0;
}

.sidebar.dark ul li a {
    display: block;
    padding: 12px 20px;
    color: #ddd;
    text-decoration: none;
}

.sidebar.dark ul li a:hover,
.sidebar.dark ul li.active a {
    background: #292929;
    color: #fff;
}

.content-area {
    margin-left: 260px;
    padding: 30px;
}

.card-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 260px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.12);
}

.card-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #007bff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.card-btn:hover {
    background: #0056b3;
}

.checklist-box li {
    margin-bottom: 12px;
    font-size: 1.1rem;
}

.progress-bar-big {
    width: 100%;
    height: 30px;
    background: #ddd;
    border-radius: 10px;
    margin: 20px 0;
}

#progressFill {
    height: 30px;
    width: 0%;
    background: #007bff;
    border-radius: 10px;
    transition: 0.4s;
}
